<script>
    import { page } from "$app/stores";
    import { searchCategory } from "$lib/search";
    import Carousel from "../../component/carousel.svelte";

    let category = "";

    /**
     * @param category {string}
     */
    async function searchItems(category) {
        if (category === "") return;
        return await searchCategory(category);
    }

    $: {
        category = $page.params.category;
    }
</script>

<main class="min-h-screen bg-base-100">
    <h1 class="text-5xl uppercase">{category}</h1>
    <hr />
    <br />
    {#await searchItems(category)}
        <p>Loading...</p>
    {:then data}
        <Carousel item={data} />
    {/await}
</main>
