<script>
    import { searchItems } from "$lib/search";
    import Card from "../../component/card.svelte";

    let query = "";
    let currentsearch = "";

    /**
     * @param q {string}
     */
    async function getResults(q) {
        if (q === "") return [];
        return await searchItems(q);
    }

    $: currentsearch = query;
</script>

<main>
    <div class="search">
        <div class="flex items-center justify-center">
            <input
                type="text"
                placeholder="Type search here"
                bind:value={query}
                class="input input-bordered w-full max-w-xs lg:max-w-md"
            />
        </div>

        {#await getResults(query)}
            <h4>searching for {currentsearch}</h4>
        {:then data}
            <h4 class="px-4 mx-2">{data.length} results</h4>

            <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
                {#each data as item}
                    <Card {item} />
                {/each}
            </div>
        {/await}
    </div>
</main>

<style>
    main {
        @apply min-h-screen bg-base-100;
    }
</style>
