<script>
  import { page } from "$app/stores";
  import { searchExactItem } from "$lib/search";
  import Buy from "../../../component/buy.svelte";
  import { fade } from "svelte/transition";

  let category = "";
  let id = "";

  /**
   * @param category {string}
   * @param id {string}
   */
  async function searchItems(category, id) {
    if (category === "" || id === "") return;
    return await searchExactItem(category, id);
  }

  $: {
    category = $page.params.category;
    id = $page.params.id;
  }
</script>

<main class="min-h-[400px] mb-8 bg-base-100"  in:fade>
  {#await searchItems(category, id)}
    <p>Loading...</p>
  {:then data}
    <Buy {data} />
  {/await}
</main>
