<script>
    import { items } from "$lib/items";
    import { derived } from "svelte/store"; // Import the 'derived' function
    import Carousel from "./carousel.svelte";

    // Define selected labels
    const selectedLabels = [
        "accessories",
        "Active wear",
        "Tops",
        "Dresses",
        "Sets",
        "Bikini & Lingerie",
        "Loungewear",
    ];

    // Create a derived store to filter items based on selected labels
    const selectedItems = derived(items, ($items) => {
        if ($items) {
            return $items.filter((item) => selectedLabels.includes(item.label));
        }
        return [];
    });
</script>

<main id="items">
    {#each $selectedItems as item}
        <div class="px-4">
            <a href="./{item.label}/">
                <h3 class="text-xl uppercase hover:border-b hover:border-dotted w-fit">{item.label}</h3>
            </a>
        </div>
        <Carousel {item} />
    {/each}
</main>

<style>
    
</style>
