<script>
    /** @type {{ image: string, details: { description: string } }} */
    export let data;
</script>

<div class="h-full p-2 mb-4 lg:p-4 flex flex-col-reverse lg:flex-row-reverse">
    <div class="mt-5 lg:w-1/2">
        <h3 class="text-3xl font-bold">{data.label}</h3>
        <p class="py-6 text-gray-400 lg:w-7/12">{data.details.description}</p>
        <p class="mb-6 text-pink-600 font-bold lg:w-7/12">
            Price: {data.price}
        </p>
        <a href="tel:+254700366783">
            <button class="btn">
                <span>Contact us </span>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="m19.23 15.26l-2.54-.29a1.99 1.99 0 0 0-1.64.57l-1.84 1.84a15.045 15.045 0 0 1-6.59-6.59l1.85-1.85c.43-.43.64-1.03.57-1.64l-.29-2.52a2.001 2.001 0 0 0-1.99-1.77H5.03c-1.13 0-2.07.94-2 2.07c.53 8.54 7.36 15.36 15.89 15.89c1.13.07 2.07-.87 2.07-2v-1.73c.01-1.01-.75-1.86-1.76-1.98"/></svg>
            </button></a
        >
    </div>
    <div class="hero-image w-full lg:w-1/2 lg:mt-5">
        <img
            src={data.image}
            class="h-96 w-64 mx-auto shadow-2xl transform transition duration-500 ease-in-out hover:scale-105 hover:bg-gray-200"
            alt="retro clothes"
            loading="lazy"
        />
    </div>
</div>
<div class="overflow-x-auto max-w-3xl mx-auto">
    <table class="table">
        <!-- head -->
        <thead>
            <tr>
                <th>type</th>
                <th>info</th>
            </tr>
        </thead>
        <tbody>
            {#each Object.entries(data.details) as [key, value]}
                <tr>
                    <th>{key}</th>
                    <td>{value}</td>
                </tr>
            {/each}
        </tbody>
    </table>
</div>

<style>
    th,
    td {
        font-size: medium;
    }
</style>
