<script>
    /**
     * @type {{ id: number, label: string, category: string, image: string, price: string, details: { availability: string } }}
     */
    export let item;
</script>

<a href="./{item.category}/{item.label}">
    <div
        class="card relative w-44 h-fit transform transition duration-500 ease-in-out hover:scale-105 hover:opacity-90"
    >
        <img
            src={item.image}
            alt={item.label}
            class="rounded-none skeleton h-64 w-44"
            loading="lazy"
        />
        <div class="w-44 h-11 overflow-hidden overflow-ellipsis">
            {item.label}
        </div>
        <div class="price py-2 my-2">{item.price}</div>
        <div class="available">{item.details.availability}</div>
    </div>
</a>

<style>
    .card {
        @apply p-4 rounded-none m-2;
    }
</style>
