<div class="hero min-h-screen">
    <div class="hero-content flex-col-reverse lg:flex-row">
        <div>
            <h1 class="text-5xl font-bold">Welcome to Dresslagance Fashions!</h1>
            <p class="py-6 lg:w-7/12">
                Embrace the charm of retro with Dresslagance. Our vintage-inspired designs help you make a bold statement. Discover your perfect piece today.
            </p>
            <a href="#items">
            <button class="btn ">Shop Now</button></a>
        </div>
        <div class="hero-image w-1/2 hidden lg:block">
            <img
                src="https://incouture.co.ke/media/cache/76/4a/764aca6fc45da4e12967ba8ea1915e61.jpg"
                class="h-96 shadow-2xl transform transition duration-500 ease-in-out hover:scale-105 hover:bg-gray-200"
                alt="retro clothes"
                loading="lazy"
            />
        </div>
    </div>
</div>

<style>

</style>