<script>
  import { page } from "$app/stores";

  let home = "./";

  $: if($page.params.category) home = "../";
</script>


<div class="navbar px-4 bg-base-100">
  <div class="flex-1">
    <a href={home} class="text-xl font-semibold">
      <span class="uppercase text-pink-600">Dresslagance</span>
      <span class="uppercase text-dark">fashions</span>
    </a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><a href="./search" class="uppercase rounded-full"><button>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32" d="M221.09 64a157.09 157.09 0 1 0 157.09 157.09A157.1 157.1 0 0 0 221.09 64Z"/><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32" d="M338.29 338.29L448 448"/></svg>
      </button></a></li>
      <li><a href="{home}about" class="uppercase">About Us</a></li>
    </ul>
  </div>
</div>
