<div class="hero min-h-screen bg-base-100">
    <div class="hero-content text-center">
      <div class="max-w-md">
            <h1 class="text-5xl font-bold">Welcome to Dresslagance Fashions!</h1>
            <p class="py-6">
                Embrace the charm of retro with Dresslagance. Our vintage-inspired designs help you make a bold statement. Discover your perfect piece today.
            </p>
        </div>
    </div>
  </div>