@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;0,700;1,400&family=Montserrat:wght@300;500;700&display=swap');

body {
    overflow-x: hidden;
    font-family: 'Bitter', serif;
    scroll-behavior: smooth;
}
#items{
    font-family: 'Montserrat', sans-serif;
}

.btn {
    @apply bg-base-100 uppercase py-2 px-4 rounded-none border-2 border-black border-dotted ;
}
.btn:hover {
    @apply bg-black text-white;
}